* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #94918C;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #efeaea;
}
.logo {
    max-width: 5rem;
}
.nav-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1.5rem;
}
.nav-list li a {
    text-decoration: none;
    color: #efeaea;
    font-size: 20px;
}
.nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
}
.nav.visible {
    opacity: 1;
    visibility: visible;
}
.abrir-menu, .cerrar-menu{
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
}
.abrir-menu {
    color: #1c1c1c;
}
.cerrar-menu {
    color: #efeaea;
}
a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
h3 {
    background-color: #3F4247;
    color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
    text-align: center;
    margin-top: 30px;
    width: 250px;
}
h3:hover {
    background-color: #fff;
    color: #3F4247;
}