* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1E70EE;
}
.reloj {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/clock-42809_640.png);
    background-size: cover;
    border: 4px solid black;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, .05), inset 0 -15px 15px rgba(255, 255, 255, .05),
                0 -15px 15px rgba(0, 0, 0, .3),
                inset 0 -15px 15px rgba(0, 0, 0, .3);
}
.reloj::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #000;
    border-radius: 50%;
    z-index: 10000;
}
.reloj .hor, .reloj .min, .reloj .sec{
    position: absolute;
}
.reloj .hor, .hr {
    width: 160px;
    height: 160px;
}
.reloj .min, .mn {
    width: 190px;
    height: 190px;
}
.reloj .sec, .sc {
    width: 230px;
    height: 230px;
}
.hr, .mn, .sc {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}
.hr::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ff105e;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.mn::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: #000;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}
.sc::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: #000;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}
a{
    text-decoration: none;
}
h3 {
    background-color: #ff105e;
    color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
    text-align: center;
    margin-top: 30px;
}
h3:hover {
    background-color: #fff;
    color: #ff105e;
}
