*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Overpass Mono", monospace;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: #fff;
    color: #36495B;
    padding: 0;
    margin: 0;
}
h1{
    color: #36495B;
    font-size: 3em;;
    margin: 0 0 0 8px;
    padding: 10px;
}
h2{
    font-size: 1.4em;
    color: #fff;
}
h3{
    font-size: 1.2em;
    margin: 0 10px 10px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
p{
    margin: 0 40px;
    width: 60vh;
    text-align: justify;
}
.container {
    max-width: 1400px;
    margin: auto;
}
header {
    background-color: #36495B;
    color: #fff;
    
}
header .container{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    text-align: center;
}
header .nav{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    text-decoration: none;
}
header img{
    height: 20vh;
    padding: 10px 15px;
}
header ul {
    display: flex;
    align-items: center;
    justify-content: center;

}
header li a {
    color: #fff;
}

header a:hover{
    color: #4FB8BA;
}
header h2{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cv{
    background-color: #4FB8BA; 
}
.container_s{
    background-color: #fff;
    width: auto;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container_s p {
    padding: 10px 20px;
}
#cv img{
    margin-top: 20px;
}
#cv h1{
    font-size: 1.8em;
    padding: 0;
    margin-left: 0;
}
#cv p {
    padding: 20px 10px;
}
#cv h3{
    margin-bottom: 0;
}
#cv ul{
    padding: 10px 30px;
    list-style: none;
}
#cv li{
    padding-left: 10px;
    padding-right: 10px;
}
#cv a{
    padding: 10px 20px;
    margin: 10px 10px;
}
#Portafolio img{
    max-height: 200px;
}
#Noticias img {
    max-height: 200px;
}
#Testimoniales img {
    max-height: 200px;
}
footer{
    background-color: #36495B;
    color: #fff;
}

footer .container{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.boton{
    background-color: #36495B;
    color: #fff;
    padding: 10px auto;
    min-height: 20px; 
    max-width: auto;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton:hover{
    color: #36495B;
    background-color: #fff;
}
.boton h3 {
    margin-top: 25px;
}
#foto {
    height: 150px;
}
.eslogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
#nombre {
    color: #fff;
}
#hero_p{
    position: relative;
    width: 100%;
    height: 100vh;
    color: #fff;
    background-color: #4FB8BA;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(rgba(5,7,12,0.6),rgba(5,7,12,0.6)), url(img/fondo.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#titulo {
    margin-top: 30px;
}
.temp {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #36495B;
    z-index: 5;
}
form{
    display: flex;
    flex-direction: column;
    margin: 30px 30px;
}
iframe{
    margin: 20px 50px;
    max-width: 300px;
}
@media (min-width: 720px){
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        display: flex;
        flex-direction: row;
    }
    iframe{
        max-width: none;
    }
}